// Sticky footer
html {
    height: 100%;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

// footer layout
footer {
    background-color: #111;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color : #fff;
    margin-top:30px;
}
