// utillities-spacing

$spacer:       16px !default;
$spacer-x:     $spacer !default;
$spacer-y:     $spacer !default;
$border-width: 10px !default;

// 1行の高さ
$row-height: 12px;
// 1列の幅
$col-width: 10px;

// Margin

.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        $spacer !important; }
.m-t { margin-top:    $spacer-y !important; }
.m-r { margin-right:  $spacer-x !important; }
.m-b { margin-bottom: $spacer-y !important; }
.m-l { margin-left:   $spacer-x !important; }
.m-x { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
.m-y { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-xs { margin:        ($spacer * 0.25) !important; }
.m-t-xs { margin-top:    ($spacer-y * 0.25) !important; }
.m-r-xs { margin-right:  ($spacer-y * 0.25) !important; }
.m-b-xs { margin-bottom: ($spacer-y * 0.25) !important; }
.m-l-xs { margin-left:   ($spacer-y * 0.25) !important; }
.m-x-xs { margin-right:  ($spacer-x * 0.25) !important; margin-left:   ($spacer-x * 0.25) !important; }
.m-y-xs { margin-top:    ($spacer-y * 0.25) !important; margin-bottom: ($spacer-y * 0.25) !important; }

.m-a-sm { margin:        ($spacer * 0.5) !important; }
.m-t-sm { margin-top:    ($spacer-y * 0.5) !important; }
.m-r-sm { margin-right:  ($spacer-y * 0.5) !important; }
.m-b-sm { margin-bottom: ($spacer-y * 0.5) !important; }
.m-l-sm { margin-left:   ($spacer-y * 0.5) !important; }
.m-x-sm { margin-right:  ($spacer-x * 0.5) !important; margin-left:   ($spacer-x * 0.5) !important; }
.m-y-sm { margin-top:    ($spacer-y * 0.5) !important; margin-bottom: ($spacer-y * 0.5) !important; }

.m-a-md { margin:        ($spacer * 0.75) !important; }
.m-t-md { margin-top:    ($spacer-y * 0.75) !important; }
.m-r-md { margin-right:  ($spacer-y * 0.75) !important; }
.m-b-md { margin-bottom: ($spacer-y * 0.75) !important; }
.m-l-md { margin-left:   ($spacer-y * 0.75) !important; }
.m-x-md { margin-right:  ($spacer-x * 0.75) !important; margin-left:   ($spacer-x * 0.75) !important; }
.m-y-md { margin-top:    ($spacer-y * 0.75) !important; margin-bottom: ($spacer-y * 0.75) !important; }

.m-a-lg { margin:        ($spacer * 3) !important; }
.m-t-lg { margin-top:    ($spacer-y * 3) !important; }
.m-r-lg { margin-right:  ($spacer-y * 3) !important; }
.m-b-lg { margin-bottom: ($spacer-y * 3) !important; }
.m-l-lg { margin-left:   ($spacer-y * 3) !important; }
.m-x-lg { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
.m-y-lg { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

// Padding

.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        $spacer !important; }
.p-t { padding-top:    $spacer-y !important; }
.p-r { padding-right:  $spacer-x !important; }
.p-b { padding-bottom: $spacer-y !important; }
.p-l { padding-left:   $spacer-x !important; }
.p-x { padding-right:  $spacer-x !important; padding-left:   $spacer-x !important; }
.p-y { padding-top:    $spacer-y !important; padding-bottom: $spacer-y !important; }

.p-a-xs { padding:        ($spacer * 0.25) !important; }
.p-t-xs { padding-top:    ($spacer-y * 0.25) !important; }
.p-r-xs { padding-right:  ($spacer-y * 0.25) !important; }
.p-b-xs { padding-bottom: ($spacer-y * 0.25) !important; }
.p-l-xs { padding-left:   ($spacer-y * 0.25) !important; }
.p-x-xs { padding-right:  ($spacer-x * 0.25) !important; padding-left:   ($spacer-x * 0.25) !important; }
.p-y-xs { padding-top:    ($spacer-y * 0.25) !important; padding-bottom: ($spacer-y * 0.25) !important; }

.p-a-sm { padding:        ($spacer * 0.5) !important; }
.p-t-sm { padding-top:    ($spacer-y * 0.5) !important; }
.p-r-sm { padding-right:  ($spacer-y * 0.5) !important; }
.p-b-sm { padding-bottom: ($spacer-y * 0.5) !important; }
.p-l-sm { padding-left:   ($spacer-y * 0.5) !important; }
.p-x-sm { padding-right:  ($spacer-x * 0.5) !important; padding-left:   ($spacer-x * 0.5) !important; }
.p-y-sm { padding-top:    ($spacer-y * 0.5) !important; padding-bottom: ($spacer-y * 0.5) !important; }

.p-a-md { padding:        ($spacer * 0.75) !important; }
.p-t-md { padding-top:    ($spacer-y * 0.75) !important; }
.p-r-md { padding-right:  ($spacer-y * 0.75) !important; }
.p-b-md { padding-bottom: ($spacer-y * 0.75) !important; }
.p-l-md { padding-left:   ($spacer-y * 0.75) !important; }
.p-x-md { padding-right:  ($spacer-x * 0.75) !important; padding-left:   ($spacer-x * 0.75) !important; }
.p-y-md { padding-top:    ($spacer-y * 0.75) !important; padding-bottom: ($spacer-y * 0.75) !important; }

.p-a-lg { padding:        ($spacer * 3) !important; }
.p-t-lg { padding-top:    ($spacer-y * 3) !important; }
.p-r-lg { padding-right:  ($spacer-y * 3) !important; }
.p-b-lg { padding-bottom: ($spacer-y * 3) !important; }
.p-l-lg { padding-left:   ($spacer-y * 3) !important; }
.p-x-lg { padding-right:  ($spacer-x * 3) !important; padding-left:   ($spacer-x * 3) !important; }
.p-y-lg { padding-top:    ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }

// col-width
@for $i from 0 through 100 {
    .c-w-#{$i} {
        min-width: $col-width * $i;
        width: $col-width * $i;
        max-width: $col-width * $i;
    }
    .c-w-#{$i}-5 {
        min-width: ($col-width * $i) + $col-width / 2;
        width: ($col-width * $i) + $col-width / 2;
        max-width: ($col-width * $i) + $col-width / 2;
    }
}

.c-w-max {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

.c-w-auto {
    min-width: auto;
    width: auto;
    max-width: auto;
}

// row-height
@for $i from 0 through 100 {
    .r-h-#{$i} {
        min-height: $row-height * $i;
        height: $row-height * $i;
        max-height: $row-height * $i;
    }
    .r-h-#{$i}-5 {
        min-height: ($row-height * $i) + $row-height / 2;
        height: ($row-height * $i) + $row-height / 2;
        max-height: ($row-height * $i) + $row-height / 2;
    }
}
